automations/epico-3-motor-tempo-psicologico.json
{
  "name": "OTTO - Épico 3: Motor de Tempo Psicológico",
  "nodes": [
    {
      "parameters": {
        "content": "## ⏱️ Épico 3: Motor de Tempo Psicológico\n\n**Regra**: Modelar comportamento de compra, não horário administrativo.\n\n🔥 Lead Quente (Proposta na mesa): tempo real 24/7\n- Alerta amarelo pode cair no sábado\n❄️ Lead Frio (Qualificação): business hours\n- Pausa sex 18h, volta seg 08h\n\n**Cronjob**: Verifica cronômetros ativos onde\nstate_version = version atual do lead",
        "height": 280, "width": 420, "color": 6
      },
      "id": "note-docs",
      "name": "📋 Documentação",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [40, 40]
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 15 }] }
      },
      "id": "cron-trigger",
      "name": "Cronjob: Verificar Cronômetros (15min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 340]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.id as cronometro_id, c.lead_id, c.lead_state_version, c.alerta_amarelo_at, c.transbordo_vermelho_at, c.temperatura_no_inicio, c.tipo_sla, c.alerta_amarelo_enviado, c.alerta_vermelho_enviado, l.nome_cliente, l.veiculo_interesse, l.estagio_atual, l.temperatura, l.state_version as lead_state_version_atual, l.vendedor_id, l.metadata, v.nome as vendedor_nome, v.whatsapp_id as vendedor_whatsapp FROM cronometros_otto c INNER JOIN leads l ON l.id = c.lead_id INNER JOIN vendedores v ON v.id = l.vendedor_id WHERE c.status_cronometro = 'ativo' AND c.lead_state_version = l.state_version AND (c.alerta_amarelo_at <= NOW() OR c.transbordo_vermelho_at <= NOW()) AND (c.alerta_amarelo_enviado = FALSE OR c.alerta_vermelho_enviado = FALSE) ORDER BY c.alerta_amarelo_at ASC LIMIT 50;",
        "options": {}
      },
      "id": "buscar-cronometros",
      "name": "Buscar Cronômetros Ativos (Versão Validada)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [500, 340],
      "credentials": {
        "postgres": { "id": "CREDENTIAL_ID_SUPABASE_PG", "name": "Supabase PostgreSQL" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "has-results",
            "leftValue": "={{ $json.cronometro_id }}",
            "rightValue": "",
            "operator": { "type": "string", "operation": "notEmpty" }
          }],
          "combinator": "and"
        }
      },
      "id": "if-tem-alertas",
      "name": "Tem Alertas Pendentes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [740, 340]
    },
    {
      "parameters": {
        "jsCode": "// ALGORITMO DE DEGRADAÇÃO DE SLA (Tempo Psicológico)\nconst items = $input.all();\nconst agora = new Date();\nconst results = [];\n\nfor (const item of items) {\n  const d = item.json;\n  const temp = (d.temperatura || d.temperatura_no_inicio || '').toLowerCase();\n  \n  // Determinar tipo de SLA baseado em temperatura\n  let tipoSLA = 'business_hours'; // padrão\n  const ESTAGIOS_QUENTES = ['PROPOSTA', 'NEGOCIACAO', 'APROVACAO_FINANCEIRA', 'FECHAMENTO'];\n  \n  if (temp === 'quente' || temp === 'hot' || ESTAGIOS_QUENTES.includes(d.estagio_atual)) {\n    tipoSLA = 'real_time'; // 🔥 Lead quente: tempo real 24/7\n  }\n  \n  // Verificar se está em business hours (para leads frios)\n  const hora = agora.getHours();\n  const diaSemana = agora.getDay(); // 0=dom, 6=sab\n  const emHorarioComercial = diaSemana >= 1 && diaSemana <= 5 && hora >= 8 && hora < 18;\n  \n  // Se lead frio e fora do horário comercial, pular\n  if (tipoSLA === 'business_hours' && !emHorarioComercial) {\n    continue;\n  }\n  \n  // Determinar zona do alerta\n  const alertaAmareloAt = new Date(d.alerta_amarelo_at);\n  const transbordoAt = new Date(d.transbordo_vermelho_at);\n  \n  let zona = 'VERDE';\n  let tipo_alerta = null;\n  \n  if (transbordoAt <= agora && !d.alerta_vermelho_enviado) {\n    zona = 'VERMELHA';\n    tipo_alerta = 'transbordo';\n  } else if (alertaAmareloAt <= agora && !d.alerta_amarelo_enviado) {\n    zona = 'AMARELA';\n    tipo_alerta = 'nudge';\n  }\n  \n  if (tipo_alerta) {\n    // Calcular tempo decorrido\n    const horasDecorridas = Math.round((agora - alertaAmareloAt) / (1000 * 60 * 60));\n    \n    // Buscar última objeção do metadata\n    let ultimaObjecao = null;\n    try {\n      const meta = typeof d.metadata === 'string' ? JSON.parse(d.metadata) : d.metadata;\n      ultimaObjecao = meta?.ultima_objecao || meta?.objecao || null;\n    } catch(e) {}\n    \n    results.push({ json: {\n      ...d,\n      zona,\n      tipo_alerta,\n      tipo_sla: tipoSLA,\n      horas_decorridas: horasDecorridas,\n      ultima_objecao: ultimaObjecao,\n      em_horario_comercial: emHorarioComercial\n    }});\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { sem_alertas: true } }];"
      },
      "id": "calcular-sla",
      "name": "Calcular Degradação SLA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 240]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{
                  "id": "is-amarelo",
                  "leftValue": "={{ $json.zona }}",
                  "rightValue": "AMARELA",
                  "operator": { "type": "string", "operation": "equals" }
                }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "🟡 Zona Amarela (Nudge)"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{
                  "id": "is-vermelho",
                  "leftValue": "={{ $json.zona }}",
                  "rightValue": "VERMELHA",
                  "operator": { "type": "string", "operation": "equals" }
                }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "🔴 Zona Vermelha (Transbordo)"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-zona",
      "name": "Classificar Zona",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1220, 240]
    }
  ],
  "connections": {
    "Cronjob: Verificar Cronômetros (15min)": { "main": [[{ "node": "Buscar Cronômetros Ativos (Versão Validada)", "type": "main", "index": 0 }]] },
    "Buscar Cronômetros Ativos (Versão Validada)": { "main": [[{ "node": "Tem Alertas Pendentes?", "type": "main", "index": 0 }]] },
    "Tem Alertas Pendentes?": {
      "main": [
        [{ "node": "Calcular Degradação SLA", "type": "main", "index": 0 }],
        []
      ]
    },
    "Calcular Degradação SLA": { "main": [[{ "node": "Classificar Zona", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [
    { "id": "otto-1", "name": "OTTO" },
    { "id": "otto-6", "name": "Tempo" },
    { "id": "otto-7", "name": "Épico 3" }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-26T12:00:00.000Z",
  "versionId": "1"
}

