automations/epico-4-callback-botao.json
{
  "name": "OTTO - Épico 4: Callback Botão (Gerar Mensagem / Já Falei)",
  "nodes": [
    {
      "parameters": {
        "content": "## 🔘 Callback dos Botões do Nudge\n\n**Gerar Mensagem**: OTTO entrega texto pronto. Esforço = ZERO.\n**Já falei com ele**: Registra interação válida, reseta cronômetro.",
        "height": 150, "width": 420, "color": 3
      },
      "id": "note-docs",
      "name": "📋 Documentação",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [40, 40]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "otto_callback_botao",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-callback",
      "name": "Webhook: Callback Botão",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 340],
      "webhookId": "otto-callback-botao",
      "credentials": {
        "httpHeaderAuth": { "id": "CREDENTIAL_ID_OTTO", "name": "OTTO Webhook Auth" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear resposta do botão interativo WhatsApp\nconst data = $input.first().json;\nconst buttonId = data.button_reply_id || data.interactive?.button_reply?.id || '';\nconst vendedorWhatsapp = data.from || data.vendedor_whatsapp;\n\nconst isGerarMsg = buttonId.startsWith('gerar_msg_');\nconst isJaFalei = buttonId.startsWith('ja_falei_');\n\nconst leadId = buttonId.replace('gerar_msg_', '').replace('ja_falei_', '');\n\nreturn [{ json: {\n  lead_id: leadId,\n  vendedor_whatsapp: vendedorWhatsapp,\n  acao: isGerarMsg ? 'GERAR_MENSAGEM' : isJaFalei ? 'JA_FALEI' : 'DESCONHECIDO',\n  button_id: buttonId\n}}];"
      },
      "id": "parse-callback",
      "name": "Parsear Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 340]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{
                  "id": "is-gerar",
                  "leftValue": "={{ $json.acao }}",
                  "rightValue": "GERAR_MENSAGEM",
                  "operator": { "type": "string", "operation": "equals" }
                }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "📝 Gerar Mensagem"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{
                  "id": "is-ja-falei",
                  "leftValue": "={{ $json.acao }}",
                  "rightValue": "JA_FALEI",
                  "operator": { "type": "string", "operation": "equals" }
                }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "✅ Já Falei"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-acao",
      "name": "Qual Ação?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [740, 340]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT l.nome_cliente, l.veiculo_interesse, l.estagio_atual, l.temperatura, l.metadata, ec.evidencia_ia FROM leads l LEFT JOIN eventos_comerciais ec ON ec.lead_id = l.id ORDER BY ec.criado_em DESC LIMIT 1 WHERE l.id = '{{ $json.lead_id }}';",
        "options": {}
      },
      "id": "buscar-lead-gerar",
      "name": "Buscar Dados do Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [980, 240],
      "credentials": {
        "postgres": { "id": "CREDENTIAL_ID_SUPABASE_PG", "name": "Supabase PostgreSQL" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Callback').first().json.vendedor_whatsapp }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"📋 Mensagem pronta para {{ $json.nome_cliente }}:\\n\\n{{ $('Montar Nudge com Botões').first().json.nudge.mensagem_sugerida_cliente || 'Olá! Gostaria de saber se tem novidades. Estou à disposição!' }}\\n\\n_Copie e cole no WhatsApp do cliente_\" }\n}",
        "options": {}
      },
      "id": "enviar-mensagem-pronta",
      "name": "Enviar Mensagem Pronta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1220, 240],
      "credentials": {
        "httpHeaderAuth": { "id": "CREDENTIAL_ID_WHATSAPP", "name": "WhatsApp Cloud API" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO eventos_comerciais (lead_id, vendedor_id, tipo_evento, evidencia_ia, state_version_at) SELECT '{{ $json.lead_id }}', l.vendedor_id, 'INTERACAO_VALIDA', '{\"origem\": \"botao_ja_falei\", \"canal\": \"whatsapp_otto\"}'::jsonb, l.state_version FROM leads l WHERE l.id = '{{ $json.lead_id }}';",
        "options": {}
      },
      "id": "registrar-ja-falei",
      "name": "Registrar Interação + Reset Cronômetro",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [980, 460],
      "credentials": {
        "postgres": { "id": "CREDENTIAL_ID_SUPABASE_PG", "name": "Supabase PostgreSQL" }
      }
    }
  ],
  "connections": {
    "Webhook: Callback Botão": { "main": [[{ "node": "Parsear Callback", "type": "main", "index": 0 }]] },
    "Parsear Callback": { "main": [[{ "node": "Qual Ação?", "type": "main", "index": 0 }]] },
    "Qual Ação?": {
      "main": [
        [{ "node": "Buscar Dados do Lead", "type": "main", "index": 0 }],
        [{ "node": "Registrar Interação + Reset Cronômetro", "type": "main", "index": 0 }],
        []
      ]
    },
    "Buscar Dados do Lead": { "main": [[{ "node": "Enviar Mensagem Pronta", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [
    { "id": "otto-1", "name": "OTTO" },
    { "id": "otto-8", "name": "Nudge" },
    { "id": "otto-10", "name": "Callback" }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-26T12:00:00.000Z",
  "versionId": "1"
}

