automations/epico-2-funil-hipotese.json
{
  "name": "OTTO - Épico 2: Funil de Hipótese (IA Sugere, Sistema Julga)",
  "nodes": [
    {
      "parameters": {
        "content": "## 🧠 Épico 2: Funil de Hipótese\n\n**Regra**: A IA interpreta a semântica, mas uma máquina de estados aprova a transição.\n\n**Fluxo**:\n1. Recebe lead_id confirmado (do Épico 1) + transcrição\n2. LLM propõe hipótese de evento\n3. Code Node valida transição cronológica\n4. Se válido → salva evento + incrementa version\n5. Se inválido → notifica vendedor da regra",
        "height": 280, "width": 420, "color": 5
      },
      "id": "note-docs",
      "name": "📋 Documentação",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [40, 40]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "otto_hipotese_comercial",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-hipotese",
      "name": "Webhook: Hipótese Comercial",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 340],
      "webhookId": "otto-hipotese",
      "credentials": {
        "httpHeaderAuth": { "id": "CREDENTIAL_ID_OTTO", "name": "OTTO Webhook Auth" }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "lead_id", "name": "lead_id", "value": "={{ $json.lead_id }}", "type": "string" },
            { "id": "vendedor_id", "name": "vendedor_id", "value": "={{ $json.vendedor_id }}", "type": "string" },
            { "id": "vendedor_whatsapp", "name": "vendedor_whatsapp", "value": "={{ $json.vendedor_whatsapp }}", "type": "string" },
            { "id": "transcricao", "name": "transcricao", "value": "={{ $json.transcricao }}", "type": "string" },
            { "id": "estagio_atual", "name": "estagio_atual", "value": "={{ $json.estagio_atual }}", "type": "string" },
            { "id": "state_version", "name": "state_version", "value": "={{ $json.state_version }}", "type": "number" },
            { "id": "temperatura", "name": "temperatura", "value": "={{ $json.temperatura || 'morno' }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-vars",
      "name": "Extrair Variáveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 340]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "Você é um analista comercial de concessionária de veículos premium.\n\nAnalise a transcrição do vendedor e proponha UMA hipótese de evento comercial.\n\nEstágios do funil (em ordem):\nCONTATO_INICIAL → QUALIFICACAO → VISITA_AGENDADA → VISITA_REALIZADA → PROPOSTA → NEGOCIACAO → APROVACAO_FINANCEIRA → FECHAMENTO → POS_VENDA\n\nTipos de evento possíveis:\n- AVANCO_ETAPA: progresso real na negociação\n- OBJECAO_REGISTRADA: cliente levantou objeção (preço, prazo, financiamento)\n- PROPOSTA_ENVIADA: proposta formal foi apresentada\n- PROPOSTA_ACEITA / PROPOSTA_RECUSADA\n- TESTE_DRIVE: cliente fez/agendou test drive\n- FINANCIAMENTO_APROVADO / FINANCIAMENTO_RECUSADO\n- CONTRATO_ASSINADO\n- INTERACAO_INVALIDA: saudações, respostas evasivas, sem avanço real\n- LEAD_PERDIDO: cliente desistiu definitivamente\n\nEstágio atual do lead: {{ $json.estagio_atual }}\n\nRetorne EXATAMENTE este JSON:\n{\n  \"hipotese_evento\": \"TIPO_DO_EVENTO\",\n  \"novo_estagio\": \"ESTAGIO_SUGERIDO ou null se não muda\",\n  \"nivel_confianca\": 0-100,\n  \"resumo_comercial\": \"Frase curta do que aconteceu\",\n  \"objecao_detectada\": \"string ou null\",\n  \"razao\": \"Por que você classificou assim\"\n}",
              "role": "system"
            },
            {
              "content": "={{ $json.transcricao }}",
              "role": "user"
            }
          ]
        },
        "options": { "temperature": 0.2, "maxTokens": 600 }
      },
      "id": "llm-hipotese",
      "name": "LLM: Agente de Hipótese",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [740, 340],
      "credentials": {
        "openAiApi": { "id": "CREDENTIAL_ID_OPENAI", "name": "OpenAI API" }
      }
    },
    {
      "parameters": {
        "jsCode": "// VALIDADOR DE TRANSIÇÃO (Máquina de Estados Determinística)\nconst vars = $('Extrair Variáveis').first().json;\nconst llmRaw = $input.first().json;\n\nlet hipotese;\ntry {\n  const raw = typeof llmRaw.text === 'string' ? llmRaw.text : JSON.stringify(llmRaw.text);\n  hipotese = JSON.parse(raw.replace(/```json?\\n?/g, '').replace(/```/g, '').trim());\n} catch (e) {\n  return [{ json: { ...vars, resultado: 'ERRO_PARSE', mensagem: 'Não consegui interpretar o áudio. Pode repetir?' } }];\n}\n\n// Mapa de transições válidas\nconst TRANSICOES = {\n  'CONTATO_INICIAL': ['QUALIFICACAO'],\n  'QUALIFICACAO': ['VISITA_AGENDADA'],\n  'VISITA_AGENDADA': ['VISITA_REALIZADA'],\n  'VISITA_REALIZADA': ['PROPOSTA'],\n  'PROPOSTA': ['NEGOCIACAO', 'QUALIFICACAO'],\n  'NEGOCIACAO': ['APROVACAO_FINANCEIRA', 'PROPOSTA'],\n  'APROVACAO_FINANCEIRA': ['FECHAMENTO', 'NEGOCIACAO'],\n  'FECHAMENTO': ['POS_VENDA']\n};\n\nconst evento = hipotese.hipotese_evento;\nconst novoEstagio = hipotese.novo_estagio;\n\n// INTERAÇÃO INVÁLIDA - cronômetro não recomeça\nif (evento === 'INTERACAO_INVALIDA') {\n  return [{ json: {\n    ...vars,\n    hipotese,\n    resultado: 'INTERACAO_INVALIDA',\n    evento_salvar: 'INTERACAO_INVALIDA',\n    mensagem: `📝 Anotado. Mas lembre-se: o relógio da ${vars.estagio_atual === 'PROPOSTA' ? 'proposta' : 'negociação'} dele continua rodando.`,\n    cronometro_reseta: false\n  }}];\n}\n\n// Validar transição cronológica\nif (novoEstagio && novoEstagio !== vars.estagio_atual) {\n  const permitidas = TRANSICOES[vars.estagio_atual] || [];\n  if (!permitidas.includes(novoEstagio)) {\n    return [{ json: {\n      ...vars,\n      hipotese,\n      resultado: 'TRANSICAO_INVALIDA',\n      evento_salvar: null,\n      mensagem: `⚠️ Não posso mover de ${vars.estagio_atual} para ${novoEstagio}. O lead precisa passar pelas etapas intermediárias.`,\n      cronometro_reseta: false\n    }}];\n  }\n}\n\n// EVENTO VÁLIDO\nreturn [{ json: {\n  ...vars,\n  hipotese,\n  resultado: 'EVENTO_VALIDO',\n  evento_salvar: evento,\n  novo_estagio: novoEstagio || vars.estagio_atual,\n  mensagem: `✅ ${hipotese.resumo_comercial}\\n\\n📊 Confiança: ${hipotese.nivel_confianca}%${hipotese.objecao_detectada ? '\\n⚠️ Objeção: ' + hipotese.objecao_detectada : ''}`,\n  cronometro_reseta: true\n}}];"
      },
      "id": "validador-transicao",
      "name": "Validador de Transição",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "is-valid",
            "leftValue": "={{ $json.resultado }}",
            "rightValue": "EVENTO_VALIDO",
            "operator": { "type": "string", "operation": "equals" }
          }],
          "combinator": "and"
        }
      },
      "id": "if-evento-valido",
      "name": "Evento Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1220, 340]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO eventos_comerciais (lead_id, vendedor_id, tipo_evento, estagio_anterior, estagio_novo, evidencia_ia, nivel_confianca, state_version_at) VALUES ('{{ $json.lead_id }}', '{{ $json.vendedor_id }}', '{{ $json.evento_salvar }}', '{{ $json.estagio_atual }}', '{{ $json.novo_estagio }}', '{{ JSON.stringify($json.hipotese).replace(/'/g, \"''\") }}'::jsonb, {{ $json.hipotese.nivel_confianca }}, {{ $json.state_version }}); UPDATE leads SET estagio_funil = '{{ $json.novo_estagio }}', estagio_atual = '{{ $json.novo_estagio }}', ultima_interacao = NOW() WHERE id = '{{ $json.lead_id }}';",
        "options": {}
      },
      "id": "salvar-evento",
      "name": "Salvar Evento + Atualizar Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1460, 240],
      "credentials": {
        "postgres": { "id": "CREDENTIAL_ID_SUPABASE_PG", "name": "Supabase PostgreSQL" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO eventos_comerciais (lead_id, vendedor_id, tipo_evento, evidencia_ia, nivel_confianca, state_version_at) VALUES ('{{ $('Extrair Variáveis').first().json.lead_id }}', '{{ $('Extrair Variáveis').first().json.vendedor_id }}', '{{ $json.evento_salvar || 'INTERACAO_INVALIDA' }}', '{{ JSON.stringify($json.hipotese || {}).replace(/'/g, \"''\") }}'::jsonb, {{ ($json.hipotese || {}).nivel_confianca || 0 }}, {{ $('Extrair Variáveis').first().json.state_version }});",
        "options": {}
      },
      "id": "salvar-interacao-invalida",
      "name": "Registrar Interação (Sem Avanço)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1460, 460],
      "credentials": {
        "postgres": { "id": "CREDENTIAL_ID_SUPABASE_PG", "name": "Supabase PostgreSQL" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Extrair Variáveis').first().json.vendedor_whatsapp }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $('Validador de Transição').first().json.mensagem }}\" }\n}",
        "options": {}
      },
      "id": "notificar-vendedor",
      "name": "Notificar Vendedor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 340],
      "credentials": {
        "httpHeaderAuth": { "id": "CREDENTIAL_ID_WHATSAPP", "name": "WhatsApp Cloud API" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"resultado\": \"{{ $('Validador de Transição').first().json.resultado }}\",\n  \"evento\": \"{{ $('Validador de Transição').first().json.evento_salvar }}\",\n  \"cronometro_reseta\": {{ $('Validador de Transição').first().json.cronometro_reseta }}\n}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1940, 340]
    }
  ],
  "connections": {
    "Webhook: Hipótese Comercial": { "main": [[{ "node": "Extrair Variáveis", "type": "main", "index": 0 }]] },
    "Extrair Variáveis": { "main": [[{ "node": "LLM: Agente de Hipótese", "type": "main", "index": 0 }]] },
    "LLM: Agente de Hipótese": { "main": [[{ "node": "Validador de Transição", "type": "main", "index": 0 }]] },
    "Validador de Transição": { "main": [[{ "node": "Evento Válido?", "type": "main", "index": 0 }]] },
    "Evento Válido?": {
      "main": [
        [{ "node": "Salvar Evento + Atualizar Lead", "type": "main", "index": 0 }],
        [{ "node": "Registrar Interação (Sem Avanço)", "type": "main", "index": 0 }]
      ]
    },
    "Salvar Evento + Atualizar Lead": { "main": [[{ "node": "Notificar Vendedor", "type": "main", "index": 0 }]] },
    "Registrar Interação (Sem Avanço)": { "main": [[{ "node": "Notificar Vendedor", "type": "main", "index": 0 }]] },
    "Notificar Vendedor": { "main": [[{ "node": "Responder Webhook", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [
    { "id": "otto-1", "name": "OTTO" },
    { "id": "otto-4", "name": "Hipótese" },
    { "id": "otto-5", "name": "Épico 2" }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-26T12:00:00.000Z",
  "versionId": "1"
}

