docs/n8n-workflow-abandoned-lead-recovery.json
{
  "name": "Attra - Recuperação de Leads Abandonados",
  "nodes": [
    {
      "parameters": {
        "content": "## 📋 Payload recebido de /api/tracking/abandoned\n\n```json\n{\n  \"profile_id\": \"uuid\",\n  \"fingerprint_id\": \"uuid\",\n  \"session_id\": \"uuid\",\n  \"reason\": \"exit_intent | beforeunload\",\n  \"timestamp\": \"ISO 8601\",\n  \"local_timestamp\": \"dd/mm/yyyy, hh:mm:ss\",\n  \"visitor\": {\n    \"email\": \"string | null\",\n    \"phone\": \"string | null\",\n    \"name\": \"string | null\",\n    \"status\": \"string\",\n    \"enrichment_source\": \"string | null\"\n  },\n  \"behavioral_signals\": {\n    \"pageHistory\": [{path, type, timestamp, dwellMs}],\n    \"totalDwellTimeMs\": number,\n    \"visitCount\": number,\n    \"productPagesViewed\": number,\n    \"currentSessionPages\": number\n  },\n  \"geolocation\": { \"city\", \"region\", \"country\" } | null,\n  \"utm_params\": { \"utm_source\", \"utm_medium\", ... } | null,\n  \"click_ids\": { \"gclid\", \"fbclid\", \"ttclid\" } | null\n}\n```",
        "height": 520,
        "width": 420,
        "color": 4
      },
      "id": "note-payload-docs",
      "name": "📋 Documentação do Payload",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [40, 40]
    },
    {
      "parameters": {
        "content": "## 🔐 Credenciais Necessárias\n\n**1. Attra Webhook Auth** (Header Auth)\n- Header: `Authorization`\n- Value: `Bearer <N8N_WEBHOOK_SECRET do .env.local>`\n\n**2. Resend API** (Header Auth)\n- Header: `Authorization`\n- Value: `Bearer <RESEND_API_KEY>`\n\n**3. Attra API Auth** (Header Auth)\n- Header: `Authorization`\n- Value: `Bearer <N8N_WEBHOOK_SECRET>`\n\n⚠️ Após importar, associe cada credencial ao node correspondente.",
        "height": 320,
        "width": 420,
        "color": 6
      },
      "id": "note-credentials",
      "name": "🔐 Credenciais",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [40, 600]
    },
    {
      "parameters": {
        "content": "## 🔥 Lógica de Lead Score\n\n- **productPagesViewed** × 15 pontos\n- **visitCount** × 10 pontos\n- **currentSessionPages** × 5 pontos\n- **totalDwellTimeMs** > 120s: +20 pontos\n- **totalDwellTimeMs** > 60s: +10 pontos\n- Tem **email**: +10 pontos\n- Tem **phone**: +10 pontos\n- Veio de **gclid/fbclid**: +15 pontos\n\n**Hot** ≥ 70 | **Warm** ≥ 40 | **Cold** < 40",
        "height": 320,
        "width": 320,
        "color": 5
      },
      "id": "note-scoring",
      "name": "🔥 Lead Scoring",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [700, 600]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "abandoned_lead_attra",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Lead Abandonado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [520, 380],
      "webhookId": "abandoned-lead-attra",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID_1",
          "name": "Attra Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "profile_id", "name": "profile_id", "value": "={{ $json.profile_id }}", "type": "string" },
            { "id": "fingerprint_id", "name": "fingerprint_id", "value": "={{ $json.fingerprint_id }}", "type": "string" },
            { "id": "session_id", "name": "session_id", "value": "={{ $json.session_id || '' }}", "type": "string" },
            { "id": "reason", "name": "reason", "value": "={{ $json.reason }}", "type": "string" },
            { "id": "timestamp", "name": "timestamp", "value": "={{ $json.timestamp }}", "type": "string" },
            { "id": "local_timestamp", "name": "local_timestamp", "value": "={{ $json.local_timestamp }}", "type": "string" },
            { "id": "email", "name": "email", "value": "={{ $json.visitor?.email || '' }}", "type": "string" },
            { "id": "phone", "name": "phone", "value": "={{ $json.visitor?.phone || '' }}", "type": "string" },
            { "id": "name", "name": "visitor_name", "value": "={{ $json.visitor?.name || 'Visitante' }}", "type": "string" },
            { "id": "status", "name": "visitor_status", "value": "={{ $json.visitor?.status || 'unknown' }}", "type": "string" },
            { "id": "enrichment_source", "name": "enrichment_source", "value": "={{ $json.visitor?.enrichment_source || '' }}", "type": "string" },
            { "id": "product_views", "name": "product_pages_viewed", "value": "={{ $json.behavioral_signals?.productPagesViewed || 0 }}", "type": "number" },
            { "id": "session_pages", "name": "current_session_pages", "value": "={{ $json.behavioral_signals?.currentSessionPages || 0 }}", "type": "number" },
            { "id": "dwell_ms", "name": "total_dwell_ms", "value": "={{ $json.behavioral_signals?.totalDwellTimeMs || 0 }}", "type": "number" },
            { "id": "visit_count", "name": "visit_count", "value": "={{ $json.behavioral_signals?.visitCount || 0 }}", "type": "number" },
            { "id": "city", "name": "city", "value": "={{ $json.geolocation?.city || '' }}", "type": "string" },
            { "id": "region", "name": "region", "value": "={{ $json.geolocation?.region || '' }}", "type": "string" },
            { "id": "utm_source", "name": "utm_source", "value": "={{ $json.utm_params?.utm_source || '' }}", "type": "string" },
            { "id": "utm_medium", "name": "utm_medium", "value": "={{ $json.utm_params?.utm_medium || '' }}", "type": "string" },
            { "id": "utm_campaign", "name": "utm_campaign", "value": "={{ $json.utm_params?.utm_campaign || '' }}", "type": "string" },
            { "id": "gclid", "name": "gclid", "value": "={{ $json.click_ids?.gclid || '' }}", "type": "string" },
            { "id": "fbclid", "name": "fbclid", "value": "={{ $json.click_ids?.fbclid || '' }}", "type": "string" },
            { "id": "has_email", "name": "has_email", "value": "={{ !!$json.visitor?.email && $json.visitor.email.length > 0 }}", "type": "boolean" },
            { "id": "has_phone", "name": "has_phone", "value": "={{ !!$json.visitor?.phone && $json.visitor.phone.length > 0 }}", "type": "boolean" },
            { "id": "has_paid_traffic", "name": "has_paid_traffic", "value": "={{ !!$json.click_ids?.gclid || !!$json.click_ids?.fbclid || !!$json.click_ids?.ttclid }}", "type": "boolean" }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Extrair Variáveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [760, 380]
    },
    {
      "parameters": {
        "jsCode": "// Lead Scoring para leads abandonados da Attra Veículos\nconst item = $input.first().json;\n\nlet score = 0;\n\n// Engajamento com produtos (peso alto - indica intenção de compra)\nscore += Math.min((item.product_pages_viewed || 0) * 15, 60);\n\n// Recorrência (visitante que volta tem mais intenção)\nscore += Math.min((item.visit_count || 0) * 10, 30);\n\n// Profundidade da sessão\nscore += Math.min((item.current_session_pages || 0) * 5, 25);\n\n// Tempo no site (dwell time)\nconst dwellSec = (item.total_dwell_ms || 0) / 1000;\nif (dwellSec > 120) score += 20;\nelse if (dwellSec > 60) score += 10;\nelse if (dwellSec > 30) score += 5;\n\n// Dados de contato disponíveis\nif (item.has_email) score += 10;\nif (item.has_phone) score += 10;\n\n// Tráfego pago (lead mais caro = prioridade)\nif (item.has_paid_traffic) score += 15;\n\n// Determinar temperatura\nlet temperature = 'cold';\nif (score >= 70) temperature = 'hot';\nelse if (score >= 40) temperature = 'warm';\n\nreturn [{\n  json: {\n    ...item,\n    lead_score: score,\n    lead_temperature: temperature,\n    dwell_time_formatted: `${Math.round(dwellSec / 60)}min ${Math.round(dwellSec % 60)}s`\n  }\n}];"
      },
      "id": "score-lead",
      "name": "Calcular Lead Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-email",
              "leftValue": "={{ $json.has_email }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-email",
      "name": "Tem Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1240, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Attra Veículos <noreply@attraveiculos.com.br>\",\n  \"to\": [\"{{ $json.email }}\"],\n  \"subject\": \"{{ $json.lead_temperature === 'hot' ? '🔥 ' : '' }}Olá {{ $json.visitor_name }}, encontrou o veículo ideal?\",\n  \"html\": \"<div style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'><h2 style='color: #1a1a2e;'>Olá {{ $json.visitor_name }}!</h2><p>Notamos que você estava navegando em nosso estoque e pode ter encontrado algo interessante.</p><p><strong>Você visualizou {{ $json.product_pages_viewed }} veículo(s)</strong> em sua última visita.</p><p>Que tal dar uma olhada novamente? Nossos consultores estão prontos para ajudar!</p><a href='https://attraveiculos.com.br/estoque' style='display: inline-block; padding: 12px 24px; background-color: #e63946; color: white; text-decoration: none; border-radius: 6px; margin: 16px 0;'>Ver Estoque Completo</a><p style='color: #666; font-size: 12px;'>Attra Veículos - {{ $json.city ? $json.city + ', ' + $json.region : 'Seu próximo veículo está aqui' }}</p></div>\"\n}",
        "options": {
          "response": {
            "response": { "fullResponse": false, "neverError": true }
          }
        }
      },
      "id": "send-recovery-email",
      "name": "Enviar Email de Recuperação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 260],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID_2",
          "name": "Resend API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "is-hot",
                    "leftValue": "={{ $json.lead_temperature }}",
                    "rightValue": "hot",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "🔥 Hot (≥70)"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "is-warm",
                    "leftValue": "={{ $json.lead_temperature }}",
                    "rightValue": "warm",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "🟡 Warm (40-69)"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-temperature",
      "name": "Temperatura do Lead",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1740, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LEADSTER_SDR_WEBHOOK_URL || 'https://webhook.dexidigital.com.br/webhook/leadster_sdr_attra' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventType\": \"abandoned_lead_hot\",\n  \"urgency\": \"🔥 URGENTE - Lead Hot Abandonou o Site\",\n  \"sourcePage\": \"Abandonment Recovery\",\n  \"lead\": {\n    \"name\": \"{{ $json.visitor_name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"score\": {{ $json.lead_score }},\n    \"temperature\": \"{{ $json.lead_temperature }}\"\n  },\n  \"context\": {\n    \"reason\": \"{{ $json.reason }}\",\n    \"product_pages_viewed\": {{ $json.product_pages_viewed }},\n    \"visit_count\": {{ $json.visit_count }},\n    \"dwell_time\": \"{{ $json.dwell_time_formatted }}\",\n    \"city\": \"{{ $json.city }}\",\n    \"region\": \"{{ $json.region }}\",\n    \"utm_source\": \"{{ $json.utm_source }}\",\n    \"utm_campaign\": \"{{ $json.utm_campaign }}\",\n    \"has_paid_traffic\": {{ $json.has_paid_traffic }}\n  },\n  \"timestamp\": \"{{ $json.local_timestamp }}\",\n  \"action_required\": \"Entrar em contato IMEDIATAMENTE - lead com alto engajamento abandonou o site\"\n}",
        "options": {}
      },
      "id": "notify-sdr-hot",
      "name": "🔥 Alerta Urgente SDR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LEADSTER_SDR_WEBHOOK_URL || 'https://webhook.dexidigital.com.br/webhook/leadster_sdr_attra' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventType\": \"abandoned_lead_warm\",\n  \"urgency\": \"🟡 Lead Warm abandonou o site\",\n  \"sourcePage\": \"Abandonment Recovery\",\n  \"lead\": {\n    \"name\": \"{{ $json.visitor_name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"score\": {{ $json.lead_score }},\n    \"temperature\": \"{{ $json.lead_temperature }}\"\n  },\n  \"context\": {\n    \"reason\": \"{{ $json.reason }}\",\n    \"product_pages_viewed\": {{ $json.product_pages_viewed }},\n    \"visit_count\": {{ $json.visit_count }},\n    \"dwell_time\": \"{{ $json.dwell_time_formatted }}\",\n    \"city\": \"{{ $json.city }}\",\n    \"utm_source\": \"{{ $json.utm_source }}\"\n  },\n  \"timestamp\": \"{{ $json.local_timestamp }}\",\n  \"action_required\": \"Agendar follow-up - lead com engajamento moderado\"\n}",
        "options": {}
      },
      "id": "notify-sdr-warm",
      "name": "🟡 Notificar SDR (Warm)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 260]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-phone",
              "leftValue": "={{ $json.has_phone }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-phone",
      "name": "Tem Telefone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1500, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LEADSTER_SDR_WEBHOOK_URL || 'https://webhook.dexidigital.com.br/webhook/leadster_sdr_attra' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventType\": \"abandoned_lead_phone_only\",\n  \"urgency\": \"📞 Lead abandonou site (só telefone)\",\n  \"sourcePage\": \"Abandonment Recovery\",\n  \"lead\": {\n    \"name\": \"{{ $json.visitor_name }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"score\": {{ $json.lead_score }},\n    \"temperature\": \"{{ $json.lead_temperature }}\"\n  },\n  \"context\": {\n    \"reason\": \"{{ $json.reason }}\",\n    \"product_pages_viewed\": {{ $json.product_pages_viewed }},\n    \"visit_count\": {{ $json.visit_count }},\n    \"dwell_time\": \"{{ $json.dwell_time_formatted }}\",\n    \"city\": \"{{ $json.city }}\",\n    \"utm_source\": \"{{ $json.utm_source }}\"\n  },\n  \"timestamp\": \"{{ $json.local_timestamp }}\",\n  \"action_required\": \"Ligar ou enviar WhatsApp para o lead - sem email disponível\"\n}",
        "options": {}
      },
      "id": "notify-sdr-phone",
      "name": "📞 Alerta SDR (Telefone)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 460]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "log_action", "name": "action", "value": "no_contact_available", "type": "string" },
            { "id": "log_profile", "name": "profile_id", "value": "={{ $json.profile_id }}", "type": "string" },
            { "id": "log_score", "name": "lead_score", "value": "={{ $json.lead_score }}", "type": "number" },
            { "id": "log_note", "name": "note", "value": "Lead abandonou sem email nem telefone. Apenas behavioral data disponível.", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "log-no-contact",
      "name": "📝 Log (Sem Contato)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1740, 600]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "log_email_error", "name": "email_sent", "value": false, "type": "boolean" },
            { "id": "log_error_msg", "name": "email_error", "value": "={{ $json.message || 'Erro ao enviar email de recuperação' }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "handle-email-error",
      "name": "⚠️ Erro no Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1740, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Abandoned lead processed\",\n  \"profile_id\": \"{{ $('Extrair Variáveis').item.json.profile_id }}\",\n  \"lead_score\": {{ $('Calcular Lead Score').item.json.lead_score }},\n  \"lead_temperature\": \"{{ $('Calcular Lead Score').item.json.lead_temperature }}\"\n}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2240, 380]
    }
  ],
  "connections": {
    "Webhook: Lead Abandonado": {
      "main": [[{ "node": "Extrair Variáveis", "type": "main", "index": 0 }]]
    },
    "Extrair Variáveis": {
      "main": [[{ "node": "Calcular Lead Score", "type": "main", "index": 0 }]]
    },
    "Calcular Lead Score": {
      "main": [[{ "node": "Tem Email?", "type": "main", "index": 0 }]]
    },
    "Tem Email?": {
      "main": [
        [{ "node": "Enviar Email de Recuperação", "type": "main", "index": 0 }],
        [{ "node": "Tem Telefone?", "type": "main", "index": 0 }]
      ]
    },
    "Enviar Email de Recuperação": {
      "main": [
        [{ "node": "Temperatura do Lead", "type": "main", "index": 0 }],
        [{ "node": "⚠️ Erro no Email", "type": "main", "index": 0 }]
      ]
    },
    "Temperatura do Lead": {
      "main": [
        [{ "node": "🔥 Alerta Urgente SDR", "type": "main", "index": 0 }],
        [{ "node": "🟡 Notificar SDR (Warm)", "type": "main", "index": 0 }],
        [{ "node": "Responder Webhook", "type": "main", "index": 0 }]
      ]
    },
    "🔥 Alerta Urgente SDR": {
      "main": [[{ "node": "Responder Webhook", "type": "main", "index": 0 }]]
    },
    "🟡 Notificar SDR (Warm)": {
      "main": [[{ "node": "Responder Webhook", "type": "main", "index": 0 }]]
    },
    "Tem Telefone?": {
      "main": [
        [{ "node": "📞 Alerta SDR (Telefone)", "type": "main", "index": 0 }],
        [{ "node": "📝 Log (Sem Contato)", "type": "main", "index": 0 }]
      ]
    },
    "📞 Alerta SDR (Telefone)": {
      "main": [[{ "node": "Responder Webhook", "type": "main", "index": 0 }]]
    },
    "📝 Log (Sem Contato)": {
      "main": [[{ "node": "Responder Webhook", "type": "main", "index": 0 }]]
    },
    "⚠️ Erro no Email": {
      "main": [[{ "node": "Responder Webhook", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [
    { "id": "1", "name": "Lead Recovery" },
    { "id": "2", "name": "Attra" },
    { "id": "3", "name": "Abandonment" }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-19T12:00:00.000Z",
  "versionId": "1"
}
