docs/n8n-workflow-attra-lead-enrichment.json
{
  "name": "Attra Lead Enrichment Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enrichment",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 340],
      "webhookId": "attra-enrichment",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Attra Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "profile_id",
              "name": "profile_id",
              "value": "={{ $json.profile_id }}",
              "type": "string"
            },
            {
              "id": "fingerprint_id",
              "name": "fingerprint_id",
              "value": "={{ $json.fingerprint_id }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.email || '' }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ $json.phone || '' }}",
              "type": "string"
            },
            {
              "id": "name",
              "name": "name",
              "value": "={{ $json.name || '' }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "original_source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "has_email",
              "name": "has_email",
              "value": "={{ !!$json.email && $json.email.length > 0 }}",
              "type": "boolean"
            },
            {
              "id": "has_phone",
              "name": "has_phone",
              "value": "={{ !!$json.phone && $json.phone.length > 0 }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 340]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "has-email",
                    "leftValue": "={{ $json.has_email }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "Has Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "has-phone-only",
                    "leftValue": "={{ $json.has_phone }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "Phone Only"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-router",
      "name": "Route by Data Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [700, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/people/match",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"reveal_personal_emails\": true,\n  \"reveal_phone_number\": true\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true
            }
          }
        }
      },
      "id": "apollo-lookup",
      "name": "Apollo.io Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 220],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Apollo.io API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bigdatacorp.com.br/pessoas/v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Datasets\": [\"basic_data\", \"phones\", \"emails\"],\n  \"q\": \"doc{{{ $json.phone }}}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true
            }
          }
        }
      },
      "id": "bigdata-lookup",
      "name": "BigDataCorp Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 460],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "BigDataCorp API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "source",
              "name": "enrichment_source",
              "value": "apollo",
              "type": "string"
            },
            {
              "id": "success",
              "name": "success",
              "value": "={{ !!$json.person }}",
              "type": "boolean"
            },
            {
              "id": "company_name",
              "name": "data.company.name",
              "value": "={{ $json.person?.organization?.name || null }}",
              "type": "string"
            },
            {
              "id": "company_domain",
              "name": "data.company.domain",
              "value": "={{ $json.person?.organization?.website_url || null }}",
              "type": "string"
            },
            {
              "id": "company_industry",
              "name": "data.company.industry",
              "value": "={{ $json.person?.organization?.industry || null }}",
              "type": "string"
            },
            {
              "id": "company_size",
              "name": "data.company.employeesRange",
              "value": "={{ $json.person?.organization?.estimated_num_employees ? String($json.person.organization.estimated_num_employees) : null }}",
              "type": "string"
            },
            {
              "id": "person_name",
              "name": "data.person.name.fullName",
              "value": "={{ $json.person?.name || null }}",
              "type": "string"
            },
            {
              "id": "person_first",
              "name": "data.person.name.givenName",
              "value": "={{ $json.person?.first_name || null }}",
              "type": "string"
            },
            {
              "id": "person_last",
              "name": "data.person.name.familyName",
              "value": "={{ $json.person?.last_name || null }}",
              "type": "string"
            },
            {
              "id": "job_title",
              "name": "data.person.employment.title",
              "value": "={{ $json.person?.title || null }}",
              "type": "string"
            },
            {
              "id": "linkedin",
              "name": "data.person.linkedin.handle",
              "value": "={{ $json.person?.linkedin_url || null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-apollo",
      "name": "Normalize Apollo Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 220]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "source",
              "name": "enrichment_source",
              "value": "bigdata",
              "type": "string"
            },
            {
              "id": "success",
              "name": "success",
              "value": "={{ !$json.error && $json.Result?.[0]?.MatchKeys }}",
              "type": "boolean"
            },
            {
              "id": "company_name",
              "name": "data.company.name",
              "value": "={{ $json.Result?.[0]?.BasicData?.RazaoSocial || $json.Result?.[0]?.BasicData?.NomeFantasia || null }}",
              "type": "string"
            },
            {
              "id": "person_name",
              "name": "data.person.name.fullName",
              "value": "={{ $json.Result?.[0]?.BasicData?.Nome || null }}",
              "type": "string"
            },
            {
              "id": "cpf",
              "name": "data.person.cpf",
              "value": "={{ $json.Result?.[0]?.BasicData?.TaxIdNumber || null }}",
              "type": "string"
            },
            {
              "id": "email_found",
              "name": "data.person.email",
              "value": "={{ $json.Result?.[0]?.Emails?.Emails?.[0]?.Email || null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-bigdata",
      "name": "Normalize BigData Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 460]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "source",
              "name": "enrichment_source",
              "value": "none",
              "type": "string"
            },
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "reason",
              "name": "data.error",
              "value": "No email or phone provided for enrichment",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "no-enrichment",
      "name": "No Enrichment Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 580]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "source",
              "name": "enrichment_source",
              "value": "apollo",
              "type": "string"
            },
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "data.error",
              "value": "={{ $json.message || 'Apollo.io API error' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "handle-apollo-error",
      "name": "Handle Apollo Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 100]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "source",
              "name": "enrichment_source",
              "value": "bigdata",
              "type": "string"
            },
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "data.error",
              "value": "={{ $json.message || 'BigDataCorp API error' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "handle-bigdata-error",
      "name": "Handle BigData Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ATTRA_API_URL || 'https://attraveiculos.com.br' }}/api/webhooks/enrichment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"profile_id\": \"{{ $('Set Variables').item.json.profile_id }}\",\n  \"fingerprint_id\": \"{{ $('Set Variables').item.json.fingerprint_id }}\",\n  \"source\": \"{{ $json.enrichment_source }}\",\n  \"success\": {{ $json.success }},\n  \"data\": {\n    \"company\": {\n      \"name\": {{ $json['data.company.name'] ? '\"' + $json['data.company.name'] + '\"' : 'null' }},\n      \"domain\": {{ $json['data.company.domain'] ? '\"' + $json['data.company.domain'] + '\"' : 'null' }},\n      \"industry\": {{ $json['data.company.industry'] ? '\"' + $json['data.company.industry'] + '\"' : 'null' }},\n      \"employeesRange\": {{ $json['data.company.employeesRange'] ? '\"' + $json['data.company.employeesRange'] + '\"' : 'null' }}\n    },\n    \"person\": {\n      \"name\": {\n        \"fullName\": {{ $json['data.person.name.fullName'] ? '\"' + $json['data.person.name.fullName'] + '\"' : 'null' }},\n        \"givenName\": {{ $json['data.person.name.givenName'] ? '\"' + $json['data.person.name.givenName'] + '\"' : 'null' }},\n        \"familyName\": {{ $json['data.person.name.familyName'] ? '\"' + $json['data.person.name.familyName'] + '\"' : 'null' }}\n      },\n      \"employment\": {\n        \"title\": {{ $json['data.person.employment.title'] ? '\"' + $json['data.person.employment.title'] + '\"' : 'null' }}\n      },\n      \"linkedin\": {\n        \"handle\": {{ $json['data.person.linkedin.handle'] ? '\"' + $json['data.person.linkedin.handle'] + '\"' : 'null' }}\n      }\n    },\n    \"error\": {{ $json['data.error'] ? '\"' + $json['data.error'] + '\"' : 'null' }}\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true
            }
          }
        }
      },
      "id": "send-to-attra",
      "name": "Send to Attra API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 340],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "Attra API Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ATTRA_API_URL || 'https://attraveiculos.com.br' }}/api/webhooks/enrichment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"profile_id\": \"{{ $('Set Variables').item.json.profile_id }}\",\n  \"fingerprint_id\": \"{{ $('Set Variables').item.json.fingerprint_id }}\",\n  \"source\": \"{{ $json.enrichment_source }}\",\n  \"success\": false,\n  \"data\": {\n    \"error\": \"{{ $json['data.error'] || 'Enrichment failed' }}\"\n  }\n}",
        "options": {}
      },
      "id": "send-error-to-attra",
      "name": "Send Error to Attra",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "Attra API Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Enrichment processed\",\n  \"profile_id\": \"{{ $('Set Variables').item.json.profile_id }}\"\n}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1660, 340]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Route by Data Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Data Type": {
      "main": [
        [
          {
            "node": "Apollo.io Enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BigDataCorp Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Enrichment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo.io Enrichment": {
      "main": [
        [
          {
            "node": "Normalize Apollo Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Apollo Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BigDataCorp Lookup": {
      "main": [
        [
          {
            "node": "Normalize BigData Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle BigData Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Apollo Data": {
      "main": [
        [
          {
            "node": "Send to Attra API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize BigData Data": {
      "main": [
        [
          {
            "node": "Send to Attra API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Enrichment Data": {
      "main": [
        [
          {
            "node": "Send to Attra API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Apollo Error": {
      "main": [
        [
          {
            "node": "Send Error to Attra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle BigData Error": {
      "main": [
        [
          {
            "node": "Send Error to Attra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Attra API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error to Attra": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "1",
      "name": "Lead Intelligence"
    },
    {
      "id": "2", 
      "name": "Attra"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-20T12:00:00.000Z",
  "versionId": "1"
}

